<div class="jumbotron text-center">
    <h1 class="display-3">High Scores!</h1>
    <p class="lead">Here are the Top 10 Players!</p>
    <a href="/users/login" class="btn btn-dark btn-lg">Login!</a>
</div>